<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <button class="btn btn-outline-success mb-3">
                Add New Quiz
            </button>
            <div class="list-group mb-3">
                <div 
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    *ngFor="let q of quizzes"
                    (click)="selectQuiz(q)"
                    [class.active]="q == selectedQuiz"
                >
                    {{ q.name }}
                    <small class="font-italic font-weight-lighter">
                        ({{ q.questionCount }} questions)
                    </small> 
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-outline-dark mb-3">
                Save Quizzes
            </button>
            <button class="btn btn-link">
                Cancel
            </button>
            <div class="card mb-3">
                <div class="card-header">
                    General
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Questions
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Other
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
        </div>
    </div>
</div>