<div class="container">
    <div 
        class="row mt-3"
        *ngIf="wasErrorLoadingQuizzes"
    >
        <div class="col-md-12">
            <h3>: - (</h3>
            <p>Can't load quizzes, please try again later...</p>
        </div>
    </div>
    <div 
        class="row mt-3"
        *ngIf="!wasErrorLoadingQuizzes"
    >
        <div class="col-md-4">
            <button 
                class="btn btn-outline-success mb-3"
                (click)="addNewQuiz()"
            >
                Add New Quiz
            </button>
            <div class="list-group mb-3">
                <button 
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    *ngFor="let q of quizzes"
                    (click)="selectQuiz(q)"
                    [class.active]="q == selectedQuiz"
                >
                    {{ q.name }}
                    <small class="font-italic font-weight-lighter">
                        ({{ q.questions.length }} question<span *ngIf="q.questions.length != 1">s</span>)
                    </small> 
                </button>
            </div>
        </div>
        <div 
            class="col-md-8"
            *ngIf="selectedQuiz == undefined"
        >
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5>No Quiz Selected</h5>
                    Please select or add a new quiz to get started...
                </div>
            </div>
        </div>
        <div 
            class="col-md-8"
            *ngIf="selectedQuiz != undefined"
        >
            <button class="btn btn-outline-dark mb-3">
                Save Quizzes
            </button>
            <button class="btn btn-link mb-3">
                Cancel
            </button>
            <div class="card mb-3">
                <div class="card-header">
                    General
                </div>
                <div class="card-body form-group">
                    <input
                        [(ngModel)]="selectedQuiz.name"
                        class="form-control"
                    />
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Questions
                </div>
                <button 
                class="btn m-3 w-25 btn-outline-success"
                (click)="addNewQuestion()"
                 >Add New Question</button>               
             <div class="card-body">
                 <div
                    class="d-flex justify-content-between" 
                    *ngFor="let question of selectedQuiz.questions"
                 >
                    <input
                        style="width:75%"
                        class="m-3 mw-50"
                        [(ngModel)]="question.name"
                        class="form-control"
                    />
                    <button
                        style="color:red"
                        class="btn mb-3"
                        (click)="removeQuestion(question)"
                    >Remove</button>
                 </div>
                                    
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Other
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
        </div>
    </div>
</div>