<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <button class="btn btn-outline-success mb-3">
                Add New Quiz
            </button>
            <div class="card mb-3">
                <div class="card-body">
                    Quiz List
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-outline-dark mb-3">
                Save Quizzes
            </button>
            <button class="btn btn-link">
                Cancel
            </button>
            <div class="card mb-3">
                <div class="card-header">
                    General
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Questions
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Other
                </div>
                <div class="card-body">
                    Coming soon!
                </div>
            </div>
        </div>
    </div>
</div>